#picParent {
  width:900px;
}


#divImg {
  width: 200px;
  height: 200px;
}

#divImg2 {
  width: 200px;
  height: 200px;
}

#divImg3 {
  width: 200px;
  height: 200px;
}

.images {
  float: left;
  background-size: 100%, auto;
  background-repeat: no-repeat;

}

#newRoundBtn {
  visibility:hidden;
}

h1 {
  font-family: 'Tangerine', serif;
  font-size: 40px;
  font-style: italic;
  text-shadow: 2px 2px 2px #aaa;
  color: white;
}

body {
  background-color: lightblue;
}

/*animations start here*/

p {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

h1 {
    width: 170px;
    height: 120px;
    background-color: teal;
    -webkit-animation-name: example;
    -webkit-animation-duration: 4s;
    animation-name: example;
    animation-duration: 4s;
}

@-webkit-keyframes example {
    from {background-color: blue;}
    to {background-color: teal;}
}

/*reapeating animation at the top*/
#hello {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}

#warning {
    float: right;
    font-size: 30;
    color: red;
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(20deg);
}


/*shamelessly stole the next background transition code from: http://stackoverflow.com/questions/27766343/change-background-color-every-30s-fade-transition*/
body {
  height: 100%;
}

body {
  -webkit-animation: background 5s cubic-bezier(1,0,0,1) infinite;
  animation: background 5s cubic-bezier(1,0,0,1) infinite;
}

@-webkit-keyframes background {
  0% { background-color: #f99; }
  33% { background-color: #9f9; }
  67% { background-color: #99f; }
  100% { background-color: #f99; }
}

@keyframes background {
  0% { background-color: #f99; }
  33% { background-color: #9f9; }
  67% { background-color: #99f; }
  100% { background-color: #f99; }
}
/*what is this for?*/
/*.image.clear {
  float: left;
  width: 300px;
}*/
