#picParent {
  width:900px;
}


#divImg {
  width: 200px;
  height: 200px;
}

#divImg2 {
  width: 200px;
  height: 200px;
}

#divImg3 {
  width: 200px;
  height: 200px;
}

.images {
  float: left;
  background-size: 100%, auto;
  background-repeat: no-repeat;

}

#newRoundBtn {
  visibility:hidden;
}

h1 {
  font-family: 'Tangerine', serif;
  font-size: 40px;
  font-style: italic;
  text-shadow: 2px 2px 2px #aaa;
  color: white;
}


p {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

h1 {
    width: 170px;
    height: 120px;
    background-color: teal;
    -webkit-animation-name: example;
    -webkit-animation-duration: 4s;
    animation-name: example;
    animation-duration: 4s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    from {background-color: blue;}
    to {background-color: teal;}
}

/*reapeating animationa the top*/
#hello {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}
/*what is this for?*/
/*.image.clear {
  float: left;
  width: 300px;
}*/
