body {
  background-color: white;
  color: black;
  padding: 20px;
  font-family: Arial inherit;
  font-size: 20;
  opacity: .95;
}

h1 {
    color: teal;
    opacity: .9;
    font-size: 50;
}

h2 {
  color: teal;
  padding: 0px;
  margin: 30px;
  opacity: .8;
}

h3 {
  color: teal;
  padding: 0px;
}
